$myFont: Helvetica,
sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}


// body {
//     font-family: $myFont;
//     font-size: $myFontSize;
//     color: $myColor;
// }